<ion-grid class="ion-text-center ion-text-capitalize" style="padding: 15px 5px 5px 15px">
    <ion-row class="mb-10">
        <ion-col size="6" class="ion-justify-content-center ion-no-padding">
            <div button class="btn-principal" (click)="abrePagina(paginas[0])">
                <div class="card-wrapper">
                    <div class="card-vermelho">
                        <div class="ico-wrapper">
                            <div class="ico-venda"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="btn-label">VENDAS</span>
                    </div>
                </div>
            </div>
            <!-- <ion-button size="large" shape="round" class="btn-principal" (click)="abrePagina(paginas[0])">
                <div class="btn-wrapper">
                    <div class="ico-venda"></div>
                    <label class="lb-btn">Vendas</label>
                </div>                        
            </ion-button> -->
        </ion-col>
        <ion-col size="6" class="ion-justify-content-center ion-no-padding">
            <div button class="btn-principal" (click)="abrePagina(paginas[1])">
                <div class="card-wrapper">
                    <div class="card-vermelho">
                        <div class="ico-wrapper">
                            <div class="ico-estoque"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="btn-label">ESTOQUE</span>
                    </div>
                </div>
            </div>
            <!-- <ion-button size="large" shape="round" class="btn-principal" (click)="abrePagina(paginas[1])">
                <div class="btn-wrapper">
                    <div class="ico-estoque"></div>
                    <label class="lb-btn">Estoque</label>
                </div>
            </ion-button> -->
        </ion-col>
    </ion-row>
    <ion-row class="mb-10">
        <ion-col size="6" class="ion-no-padding">
            <div button class="btn-principal" (click)="abrePagina(paginas[2])">
                <div class="card-wrapper">
                    <div class="card-vermelho">
                        <div class="ico-wrapper">
                            <div class="ico-caixa"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="btn-label">CAIXA</span>
                    </div>
                </div>
            </div>
            <!-- <ion-button size="large" shape="round" class="btn-principal" (click)="abrePagina(paginas[2])">
                <div class="btn-wrapper">
                    <div class="ico-caixa"></div>
                    <label class="lb-btn">Caixa</label>
                </div>
            </ion-button> -->
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
            <div button class="btn-principal" (click)="abrePagina(paginas[6])">
                <div class="card-wrapper">
                    <div class="card-vermelho">
                        <div class="ico-wrapper">
                            <div class="ico-relatorio"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="btn-label">DRE<br/>(LUCRO BRUTO)</span>
                    </div>
                </div>
            </div>
            <!-- <ion-button size="large" shape="round" class="btn-principal" (click)="abrePagina(paginas[6])">
                <div>
                    <div class="ico-relatorio" style="margin-bottom: 8px !important;"></div>
                    <ion-row class="btn2linhas">
                        <p class="lb-btn">DRE</p>
                    </ion-row>
                    <ion-row class="btn2linhas">
                        <p class="lb-btn">Lucro Bruto</p>
                    </ion-row>
                </div>
            </ion-button> -->
        </ion-col>
    </ion-row>
    <ion-row class="mb-10">
        <ion-col size="6" class="ion-no-padding">
            <div button class="btn-principal" (click)="abrePagina(paginas[4])">
                <div class="card-wrapper">
                    <div class="card-vermelho">
                        <div class="ico-wrapper">
                            <div class="ico-alteraPreco"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="btn-label">ALTERAR PREÇO</span>
                    </div>
                </div>
            </div>
            <!-- <ion-button size="large" shape="round" class="btn-principal" (click)="abrePagina(paginas[4])">
                <div class="btn-wrapper">
                    <div class="ico-alteraPreco"></div>
                    <label class="lb-btn">Alterar Preço</label>
                </div>
            </ion-button> -->
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
            <div button class="btn-principal" (click)="abrePagina(paginas[5])">
                <div class="card-wrapper">
                    <div class="card-vermelho">
                        <div class="ico-wrapper">
                            <div class="ico-financeiro"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <span class="btn-label">FINANCEIRO</span>
                    </div>
                </div>
            </div>
            <!-- <ion-button size="large" shape="round" class="btn-principal" (click)="abrePagina(paginas[5])">
                <div class="btn-wrapper">
                    <div class="ico-financeiro"></div>
                    <label class="lb-btn">Financeiro</label>
                </div>
            </ion-button> -->
        </ion-col>
    </ion-row>
</ion-grid>