.accordion-list {
  /*background: color($ colors, light);*/
  height: 100%;
}

.section {
  --background: #fff;
  width: 100%;
  color: #000;
}

.section-active {
  --background: red;
  width: 100%;
  color: #fff;
}

.titulo {
  font-size: 18px;
}

.tollbar-empresa{
  --min-height: 4% !important;
}

.filtroAltera{
  width: 220px;
}

/* ELEMENTOS FIXOS NA TELA */
.fixed {
  width: 100%;
  height: 95px;
  position: fixed;
  background-color: white;
  padding-bottom: 8px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 4px 0px rgba(0, 0, 0, 0.14), 0 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 888;
}

.corpo {
  position: relative;
  top: 100px;
}